.add-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-identity {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px 50px;
  border: 2px none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: aliceblue;
}

.add-identity div {
  display: inline-block;
}

.identity-input {
  margin: 10px 20px 10px 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
}

.add-btn-container {
  margin: 20px;
}

.submit-button {
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(24, 100, 170);
  cursor: pointer;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

.table-input {
  overflow-x: auto;
  max-width: 100%;
}

.table-input .before-vat {
  padding: 0 20px;
}

.table-input .item-delete {
  background-color: red;
  border-style: none;
  padding: 4px 10px;
}

.suggest-size {
  width: 160px; /* adjust the width as needed */
}

.suggest-size .css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 9px;
  height: 25px;
  width: 100%;
}
.suggest-size .MuiAutocomplete-option:hover {
  background-color: #f0f0f0;
}

.suggest-size .MuiAutocomplete-option-selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.add-serial {
  display: flex;           
  align-items: center;    /* Align items to the top of the container */
  gap: 16px;                  /* Optional: Add space between items */
  flex-wrap: wrap;            /* Optional: Allow items to wrap if there's not enough space */
}

.add-bill-to {
  display: block;
  margin: 8px 0 0 0;
  border: 2px none;
  padding: 0;
  border-radius: 10px;
  background-color: aliceblue;
  align-items: start;
}

.suggest-billTo {
  width: 100%; /* adjust the width as needed */
}

.suggest-billTo .css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 10px 10px;
  height: 25px;
  width: 100%;
}

.suggest-billTo .css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0;
}

.suggest-billTo .MuiAutocomplete-option:hover {
  background-color: #f0f0f0;
}

.suggest-billTo .MuiAutocomplete-option-selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.suggest-billTo .MuiInputLabel-shrink {
  font-size: 1.2em;
  left: -3px;
}

.table-input input {
  margin: 0;
  padding: 5px;
  max-width: 100px;
  border-style: none;
}


.get-top-section {
  background-color: rgb(107, 126, 108);
  text-align: end;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 30px;
}



