.add-identity {
  margin: 20px 50px;
  border: 2px none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: aliceblue;
}

.add-identity div {
  display: inline-block;
}

.add-identity input {
  margin: 10px 20px 10px 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
}

.add-item {
  
  margin: 20px 50px;
  border: 2px none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: rgb(82, 116, 104);
}

.add-item div {
  display: inline-block;
}


.add-item input {
  margin: 10px 20px 10px 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
}

.add-button {
  font-size: 1.5em;
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(24, 100, 170);
  cursor: pointer;
}
