.add-identity {
  margin: 20px 50px;
  border: 2px none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: aliceblue;
}

.add-identity div {
  display: inline-block;
}

.add-identity input {
  margin: 10px 20px 10px 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
}

.add-btn-container {
  margin: 20px;
}

.submit-button {
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(24, 100, 170);
  cursor: pointer;
  margin-left: 10px;
}

table {
  /* width: 100%; */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.suggest-size {
  width: 160px; /* adjust the width as needed */
}

.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 9px;
  height: 25px;
  width: 100%;
}
.MuiAutocomplete-option:hover {
  background-color: #f0f0f0;
}

.MuiAutocomplete-option-selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.table-input input {
  margin: 0;
  padding: 5px;
  max-width: 100px;
  border-style: none;
}


.get-top-section {
  background-color: rgb(107, 126, 108);
  text-align: end;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 30px;
}

.get-top-section p{
  font-size: 1.2em;
}

.get-bill-to {
  background-color: antiquewhite;
  text-align: center;
  padding: 1px;
}


