
.hidden {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-link {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  background-color: #8d8383;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: hsl(51, 100%, 55%); /* Gold color for active link */
}

nav {
  background-color: hsl(214, 46%, 40%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
}

nav a:hover {
  color: hsl(51, 100%, 55%); 
}


nav button {
  background-color: hsl(214, 46%, 40%);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color:  #ccc;
}

nav button:active {
  background-color: #ccc;
}

.is-authenticated {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-authenticated a {
  margin-right: 2rem;
}

.is-authenticated button {
  margin-left: 2rem;
}

.is-authenticated {
  display: flex;
  flex-direction: row;
  gap: 10px;
}




