
.hidden {
  display: none;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: hsl(51, 100%, 55%); /* Gold color for active link */
}

nav {
  background-color: hsl(214, 46%, 40%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
}

nav a:hover {
  color: hsl(51, 100%, 55%); 
}


nav button {
  background-color: hsl(214, 46%, 40%);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color:  #ccc;
}

nav button:active {
  background-color: #ccc;
}

.is-authenticated {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-authenticated a {
  margin-right: 2rem;
}

.is-authenticated button {
  margin-left: 2rem;
}